@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.home {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.home__body {
  height: 95vh;
  min-width: 600px;
  max-width: 1400px;
  width:100%;
  z-index:20;
  display:flex;
}

.home__header{
  height:127px;
  width:100%;
  z-index:0;
  position:absolute;
}